<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Playlist</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="controller.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-controller="controller">

  <div class="redline"></div>

  <header>
    <h1>Les playlists du moment</h1>
    <nav>
      <ul ng-init="firstTabSelected = true">
        <li ng-click="firstTabSelected = true">Summer vibes</li>
        <li ng-click="firstTabSelected = false">Pastel shades</li>
      </ul>
    </nav>
  </header>

  <div class="greyline"></div>

  <main>

    <section class="song" ng-repeat="song in playlist1" ng-show="firstTabSelected">
      <img src=" {{ song.cover }} " class="cover" alt="">
      <span class="infos">
        <p class="title"> {{ song.title }} </p>
        <p class="artist"> {{ song.artist }} </p>
      </span>
    </section>

    <section class="song" ng-repeat="song in playlist2" ng-hide="firstTabSelected">
      <img src=" {{ song.cover }} " class="cover" alt="">
      <span class="infos">
        <p class="title"> {{ song.title }} </p>
        <p class="artist"> {{ song.artist }} </p>
      </span>
    </section>

  </main>

</body>
</html>
