/*Base*/

body{
  margin: 0;
}

/*Header*/

div.redline{
  display: block;
  border-top: solid red 2px;
}

header{
  margin: 15px;
  background-color: #DADBE3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header h1{
  color: red;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 0 25px 70px;

}

header nav{
  margin: 0;
  width: 100%;
}

header nav ul{
  margin: 0;
  padding: 0;
  width: 100%;
}

header nav ul li{
  font-family: sans-serif;
  width: 33%;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid #DADBE3 2px;
  transition: .5s;
}

header nav ul li:hover{
  border-bottom: solid red 2px;
  transition: .5s;
}

div.greyline{
  display: block;
  margin: 15px;
  border-top: #E9E8F2 solid 1px;
}

/*Playlist*/

main section.song{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1% 0;
}

main section.song img.cover{
  width: 50px;
  border-radius: 50%;
  margin-left: 5px;
}

main section.song span.infos{
  margin: 0 15px 0 5px;
  width: 100%;
  background-color: #E4E5ED;
}

main section.song span.infos p{
  margin: 5px 20px;
  font-family: sans-serif;
}

main section.song span.infos p.artist{
  margin-left: 25px;
  font-size: .9em;
  font-style: italic;
  color: #2F2E30;
}

/*Onglets*/

.menu{
  padding: 0;
}

.menu .onglet{
  display: inline;
  padding: 10px 20px;
  border: solid black 1px;
  cursor: pointer;
}
